<div class="toasts" aria-live="polite" aria-atomic="false">
  @for (t of toasts.toasts(); track t.id) {
    <div
      class="toast"
      [attr.data-type]="t.type"
      [attr.role]="t.type === 'error' ? 'alert' : 'status'"
    >
      <span class="toast__icon" aria-hidden="true">
        @switch (t.type) {
          @case ('error') {
            <i class="fa-solid fa-exclamation"></i>
          }
          @case ('info') {
            <i class="fa-solid fa-info"></i>
          }
          @default {
            <i class="fa-solid fa-check"></i>
          }
        }
      </span>

      <span class="toast__message">{{ t.message }}</span>

      @if (t.action; as action) {
        <a class="toast__action" [routerLink]="action.link" (click)="toasts.dismiss(t.id)">{{
          action.label
        }}</a>
      }

      <button
        type="button"
        class="toast__close"
        aria-label="Dismiss notification"
        (click)="toasts.dismiss(t.id)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  }
</div>
