<section class="best-seller">
  <div class="container">
    <div class="best-seller__head">
      <app-section-title eyebrow="Best Seller" title="Best Selling Furniture Collection" />
    </div>

    <div class="best-seller__grid">
      <article class="tile tile--large">
        <a class="tile__image" routerLink="/shop" tabindex="-1" aria-hidden="true">
          <img
            [src]="featured.image"
            [alt]="featured.name"
            width="620"
            height="588"
            loading="lazy"
          />
        </a>
        <div class="tile__body">
          <div class="tile__text">
            <h3 class="tile__title">
              <a routerLink="/shop">{{ featured.title }}</a>
            </h3>
          </div>
          <a class="tile__arrow" routerLink="/shop" tabindex="-1" aria-hidden="true">
            <ng-container [ngTemplateOutlet]="arrow" />
          </a>
        </div>
      </article>

      <div class="best-seller__small">
        @for (tile of tiles; track tile.image) {
          <article class="tile">
            <a class="tile__image" routerLink="/shop" tabindex="-1" aria-hidden="true">
              <img [src]="tile.image" [alt]="tile.name" width="620" height="588" loading="lazy" />
            </a>
            <div class="tile__body">
              <div class="tile__text">
                <h3 class="tile__title">
                  <a routerLink="/shop">{{ tile.title }}</a>
                </h3>
              </div>
              <a class="tile__arrow" routerLink="/shop" tabindex="-1" aria-hidden="true">
                <ng-container [ngTemplateOutlet]="arrow" />
              </a>
            </div>
          </article>
        }
      </div>
    </div>
  </div>
</section>

<ng-template #arrow>
  <svg viewBox="0 0 22 22" fill="currentColor" focusable="false" aria-hidden="true">
    <path
      d="M16.583 15.5811C16.5828 16.1331 16.135 16.5809 15.583 16.5811C15.0308 16.5811 14.5832 16.1332 14.583 15.5811V8.82812L7.12305 16.2881C6.73257 16.6784 6.09947 16.6784 5.70898 16.2881C5.31852 15.8976 5.31863 15.2646 5.70898 14.874L13.1689 7.41406H6.41602C5.86373 7.41406 5.41602 6.96635 5.41602 6.41406C5.41602 5.86178 5.86373 5.41406 6.41602 5.41406H15.583C16.1351 5.41424 16.583 5.86189 16.583 6.41406V15.5811Z"
    />
  </svg>
</ng-template>
